* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #c7ecee;
}
.calculator {
  position: relative;
  display: grid;
  box-shadow: 10px 10px 35px -13px rgba(28, 28, 28, 1);
}
.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  font-size: 18px;
}
.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  background: #535c68;
  color: #fff;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator span:active {
  background: #badc58;
  color: #111;
}
.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: #eb4d4b;
}
.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}
.calculator span.equal {
  background: #eb4d4b;
}
